header h1 {
   background-color: #d6a571;
   color: white;
   font-family: 'Raleway', sans-serif;
   padding: 20px;
   text-align: center;
} header #reception {
   background-color: #48c8d6;
}

form {
   background-color: #48c8d6;
   color: white;
   font-family: 'Raleway', sans-serif;
   text-align: center;
} input {
   margin-top: 20px;
} textarea {
   margin-top: 20px;
}


table{
   background-color : #d6a571;
   border: 3px solid black;
   border-radius: 25px;
   box-shadow: 10px 10px 5px #888888;
   font-family: 'Josefin Sans', sans-serif;
   margin-top: 20px;
} td {
   text-align: center;
   width: 150px;
}

@media screen and (max-width: 1920px){
  textarea{
    height: 15px;
    width: 150px;
  }
}

@media screen and (min-width: 415px) and (max-width: 534px){
   table{
      margin-left: 10px;
   }
}

@media screen and (min-width: 535px) and (max-width: 569px){
   table {
      margin-left: 35px;
   }
}

@media screen and (min-width: 570px) and (max-width: 601px){
  table {
      margin-left: 60px;
  }
}

@media screen and (min-width: 602px) and (max-width: 668px){
   table{
      margin-left: 80px;
   }
}

@media screen and (min-width: 669px) and (max-width: 769px){
   table{
      margin-left: 120px;
   }
}

@media screen and (min-width: 735px) and (max-width: 737px){
   table {
      margin-left: 130px;
   }
}

@media screen and (min-width: 770px) and (max-width: 961px){
   table {
      margin-left: 240px;
   }
}

@media screen and (min-width: 962px) and (max-width: 1025px){
  table {
      margin-left: 255px;
  }
}

@media screen and (min-width: 1026px) and (max-width: 1281px){
   table {
      margin-left: 255px;
      width: 750px;
   }
}

@media screen and (min-width: 1282px) and (max-width: 1367px){
  table {
    margin-left: 305px;
    width: 750px;
  }
}
